
DB_HOST="cc-mongo"
DB_USER=""
DB_PASS=""
DB_PORT=27017
DB_NAME="ccsunlight"

# This will override DB vars above
MONGODB_URL="mongodb://cc-mongo:27017/ccsunlight"

# This is for production for the admin mongo DB
# https://docs.mongodb.com/manual/core/security-users/#user-authentication-database
MONGO_SADMIN_PASS=""

# Secret for JWT auto token
AUTHENTICATION_SECRET=""

#
# Gmail creds to send invites.
# How to setup gmail smtp
# https://support.google.com/a/answer/176600?hl=en
#
# UN is full gmail address.
# DON'T USE YOUR PERSONAL GMAIL.
# You can create a new one in minutes for free.
#
GMAIL_UN=""
GMAIL_PW=""

FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""
FACEBOOK_APP_ACCESS_TOKEN=""

# automate.io webook
SOCIAL_WEBHOOK=""
SOCIAL_WEBHOOK_API_KEY=""

ED_GEOMETRY_IMPORT_ON_START=false
ED_GEOMETRY_RELEASE=21D
ED_GEOMETRY_GEO_JSON_FILE_URL="https://data.cityofnewyork.us/api/geospatial/h2n3-98hq?method=export&format=GeoJSON"
ED_GEOMETRY_LEGACY_RELEASE=21D

GOOGLE_MAPS_API_KEY=
