

<div class="mdl-grid">
<div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
<div class="mdl-card__supporting-text" id="get_address_results">
	<h3>Showing Results for {{party}} Party</h4>
	<h4>Assembly District: {{ad}}</h4>
	<h4>Election District: {{ed}}</h4>
	<p>
	Manhattan, Bronx & Richmond currently do not show appointed members. Vacancies could have members appointed to them. Appointments (along with all county committee seats) expire at the end of every term.
	</p>
	
	{{#if error}}

	<h4><i class="material-icons">error_outline</i>  Sorry we do not have seat information for this district yet. Consider <a href="https://goo.gl/forms/BpeKaPz7rSa4hXdU2" target="_blank">volunteering</a> to help get this info!</h4>
	{{else}}
		{{> table }}
	{{/if}}

</div>
</div>
<div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
	<div class="mdl-card__supporting-text">
		{{> gmap}}
		{{> include_gmap_and_autocomplete}}
	</div>

</div>
</div>
<div class="mdl-grid">
	<div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp through mdl-shadow--2dp">
	{{> addressform}}
	</div>
	<div class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone  mdl-shadow--2dp through mdl-shadow--2dp">
		{{>newsletter_signup}}
	</div>
</div>