<div class="mdl-layout__tab-panel is-active" id="overview">

	<div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
		<div class="mdl-grid mdl-cell--16-col-tablet mdl-cell--12-col-phone">
			<div class="mdl-cell mdl-cell--12-col">
				<h2 class="splash-text">We are a group of citizens shedding light on <span class="light-green">local political party membership</span> in New York, <span class="light-green">why they matter</span>, and <span class="light-green">how to get involved.</span></h2>
				{{> addressform}}
				{{> include_autocomplete}}
				<div class="mdl-card__supporting-text"><h3>County Committee Data</h3>
				<small>This data is approximate for demo purposes. Source: NY BOE</small>
				</div>
			</div>

		{{> cc_chart countySeatBreakdowns.[0]}}

		{{> cc_chart countySeatBreakdowns.[1]}}
	</div>
</div>
