<head>
	{{> amp_header}}
	{{> amp_form}}
</head>
<body>
	<div class="center-card">
		<p><h1>{{title}}</h1></p>
		<p />

		{{> addressform}}

		<p />
		<div>TODO Display overall CC stats here</div>
	</div>
</body>
