<!doctype html>
<html lang="en">
	{{> head}}
	<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{{> header}}
		<main class="mdl-layout__content">
		<div class="mdl-layout__tab-panel is-active" id="overview">
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
				<i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
					<li class="mdl-menu__item">Lorem</li>
					<li class="mdl-menu__item" disabled>Ipsum</li>
					<li class="mdl-menu__item">Dolor</li>
				</ul>
			</section>

			{{{body}}}
			
		</div>
			{{> footer}}
		</main>

	</div>

	<a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/text-only/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>