<section class="mdl-grid">
	<div class="mdl-card mdl-cell mdl-cell--8-col">
		<div class="mdl-card__supporting-text">
			<h1>{{title}}</h1>
			{{{content}}}
		</div>
		<div class="mdl-card mdl-cell mdl-cell--12-col">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">Ben Yee Goes Over the Ins & Outs of the County Committee System</h2>
		  </div>
		  <div class="mdl-card__media">
		    <iframe class="youtube-vid" src="https://www.youtube.com/embed/57cTlsRpG1o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		  </div>
		  <div class="mdl-card__supporting-text">
		    Ben Yee, Secretary of the Manhattan Democratic County Committee sat down with CC Sunlight's David Moore give an overview of how the county committee works.
		  </div>
		  <div class="mdl-card__actions">
		    <a href="https://www.youtube.com/channel/UCfDfyE40BmcyFTe4rEPXxbg/featured" target="_blank">More videos</a>
		  </div>
		</div>
		<div class="mdl-card__actions">
			<a href="/" class="mdl-button">Back to home</a>
		</div>

	</div>
	<div class="mdl-cell mdl-cell--4-col" >
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			{{> addressform}}
		</div>
		<div class="mdl-card mdl-cell mdl-cell--12-col">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">Why County Committee Matters</h2>
		  </div>
		  <div class="mdl-card__media">
		    <iframe class="youtube-vid" src="https://www.youtube.com/embed/XAYfbdNTvcY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		  </div>
		  <div class="mdl-card__supporting-text">
		    Long time organizers Donnie & JoAnn Whitehead along with Oster Bryan sat down with CC Sunlight's David Moore during our hackathon last month and broke down why count committee matters.
		  </div>
		  <div class="mdl-card__actions">
		    <a href="https://www.youtube.com/channel/UCfDfyE40BmcyFTe4rEPXxbg/featured" target="_blank">More videos</a>
		  </div>
		</div>
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			{{>newsletter_signup}}
		</div>

	</div>

</section>