
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h1>{{title}}</h1>
                {{{content}}}
              </div>
              <div class="mdl-card__actions">
                <a href="/" class="mdl-button">Back to home</a>
              </div>
            </div>
</section>