
<section class="section--center mdl-grid">
<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
	<div class="mdl-card__supporting-text ">
		<h1>{{title}}</h1>
		</div>


	<div class="mdl-cell mdl-cell--12-col">
		{{{content}}}
	</div>
	</div>
</section>