<section class="mdl-grid mdl-grid--no-spacing">
	<div class="mdl-card mdl-cell mdl-cell--8-col">
		<div class="mdl-card__supporting-text">
			<h1>{{title}}</h1>
			{{{content}}}
		</div>
		<div class="mdl-card__actions">
			<a href="/" class="mdl-button">Back to home</a>
		</div>
	</div>
	<div class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone" >
		<iframe class="youtube-vid" src="https://www.youtube.com/embed/XAYfbdNTvcY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		
		{{> addressform}}

		{{>newsletter_signup}}

	</div>

</section>