<!-- TODO can we add address autocomplete? -->

<div>
  <form class="search-form" method="GET" action="get_address" target="_top">
    <input class="search-box" type="search" value="{{address}}" placeholder="Enter Your Address..." name="address">
    <input class="search-button ampstart-btn caps" type="submit" value="Go!">
  </form>
</div>
