<div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text "><h3>NY County Committee Vacancies</h3>
				<small>Source: NY BOE</small>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--6-col"><div class="mdl-card__supporting-text ">
			<canvas id="myChart" width="5" height="5"></canvas>
		</div></div>
		<div class="mdl-cell mdl-cell--6-col"><div class="mdl-card__supporting-text ">
			<canvas id="myChart2" width="5" height="5"></canvas>
		</div></div>
	</div>
	
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script>
	var data = {
		labels: [
		"Vacant",
		"Filled"
		],
		datasets: [
			{
			label:"Vacant Seats",
			data: [
				{{numOfVacancies}}, {{numOfFilledSeats}}],
				fill:false,
					backgroundColor: [
					"#ebebeb",
					"#1874CD"
					],
				hoverBackgroundColor: [
				"#ebebeb",
				"#1874CD"
				]
			}
		]
	};
	var myPieChart = new Chart(document.getElementById("myChart"),{
		type: 'pie',
		data: data,
		options: {}
	});
	/* new Chart(document.getElementById("chartjs-1"),
		{"type":"bar","data":{"labels":["January","February","March","April","May","June","July"],"datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],"fill":false,"backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],"borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],"borderWidth":1}]},"options":});
		*/

	var myPieChart = new Chart(document.getElementById("myChart2"),{
		type: 'bar',
		data: data,
		options: {"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}
	});
</script>