<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
		<a href="#overview" class="mdl-layout__tab is-active">About</a>
		<a href="#features" class="mdl-layout__tab">County Committees</a>
		<a href="#features" class="mdl-layout__tab">Full Map</a>
		<a href="#features" class="mdl-layout__tab">FAQ</a>
		<a href="#features" class="mdl-layout__tab">Github</a>
		<a href="#features" class="mdl-layout__tab">Add your county</a>
	</div>
</header>
