
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">County Committee Sunlight Project</span>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Map</a>
        <a class="mdl-navigation__link" href="">Lookup</a>
        <a class="mdl-navigation__link" href="">Partners</a>
        <a class="mdl-navigation__link" href="">FAQ</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">code</i> Git</a>
      </nav>
    </div>

  </header>
  </div>