

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row announcement_bar">
      <a href="/how-to-run-for-county-committee" target="_blank">Petitioning Season Starts June 5th. ⇨</a>
    </div>
    <div class="mdl-layout__header-row">

     <a href="/" class="logo-link"><span class="mdl-layout-title"><img src="/images/logo-yellow.svg" height="48px" width="48px"> <span id="menu-logo-text">County Committee Sunlight Project</span></span></a>

      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation mdl-layout--large-screen-only">

        <a class="mdl-navigation__link" href="/#lookup">Lookup</a>
        <a class="mdl-navigation__link" href="/what-is-a-county-committee">County Committee</a>
        <a class="mdl-navigation__link" href="/how-to-run-for-county-committee">How do I run?</a>
        <a class="mdl-navigation__link" href="/news">News</a>
        <a class="mdl-navigation__link" href="/faq">FAQ</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <a class="mdl-navigation__link social-btn social-btn__github" target="_blank" href="https://drive.google.com/drive/folders/1ywVUYMEJ2VesG_rJWHBaRJ5cr_yNwww-?usp=sharing"><img src="/images/ic_folder_white_24px.svg"></a>
        <a class="mdl-navigation__link social-btn social-btn__github" target="_blank" href="https://github.com/ccsunlight/county-committee-app/"><img src="/images/github_white_24.svg"></a>
        
      </nav>
    </div>

  </header> 
 <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/#lookup">Lookup</a>
        <a class="mdl-navigation__link" href="/what-is-a-county-committee">County Committee</a>
        <a class="mdl-navigation__link" href="/how-to-run-for-county-committee">How do I run?</a>
        <a class="mdl-navigation__link" href="/news">News</a>
        <a class="mdl-navigation__link" href="/faq">FAQ</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <a class="mdl-navigation__link social-btn social-btn__github" target="_blank" href="https://github.com/ccsunlight/county-committee-app/"> Github</a>
    </nav>
  </div>