

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

     <a href="/" class="logo-link"><span class="mdl-layout-title"><i class="material-icons">wb_sunny</i> <span class="mdl-layout--large-screen-only">County Committee Sunlight Project</span></span></a>

      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Lookup</a>
        <a class="mdl-navigation__link" href="/what-is-a-county-committee">County Committee</a>
        <a class="mdl-navigation__link" href="/how-to-run-for-county-committee">How do I run?</a>
        <a class="mdl-navigation__link" href="/news">News</a>
        <a class="mdl-navigation__link" href="/faq">FAQ</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
      
      </nav>
    </div>

  </header> 
 