<!-- <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
		<a href="/" class="mdl-layout__tab is-active">County Committee Sunlight Project</a>
		<a href="#features" class="mdl-layout__tab">Map</a>
		<a href="#features" class="mdl-layout__tab">FAQ</a>
		<a href="#features" class="mdl-layout__tab">Where's My County?</a>
		<a href="#features" class="mdl-layout__tab">Partners</a>
		<a href="#features" class="mdl-layout__tab">Lookup</a>
		<a href="#features" class="mdl-layout__tab"><i class="material-icons">code</i> Code</a>
	</div>
</header>
-->

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">County Committee Sunlight Project</span>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Map</a>
        <a class="mdl-navigation__link" href="">Lookup</a>
        <a class="mdl-navigation__link" href="">Partners</a>
        <a class="mdl-navigation__link" href="">FAQ</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">code</i> Git</a>
      </nav>
    </div>

  </header>
  </div>